@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    background-color: #ffffff;
    color: #52210ddc;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #3a1908c5;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.header-first-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    max-width: 20%;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

a img {
    max-height: 100%;
    max-width: 100%;
}

.social-box {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0.5rem;
}

svg {
    fill:#f0e7e5;
    /* fill: #ebd3bdf5; */
    padding: 0.3rem;
    height: 15px; 
    width: 15px;
}

svg:hover {
    fill: #f08b2c;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #e7d2be;
    text-decoration: none;
    margin: 0.5rem 0;
    font-size: 1rem;
}


nav a:focus {
    color: #f0e7e5;
}

nav a:hover {
    font-weight: 400;
    transform: scale(1.1);
    color: #f08b2c;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    margin: 0.75em;
}


footer {
    color: #35302e;
    text-align: center;
    font-size: 0.7rem;
    margin-top: auto;
    padding: 0 0 10px 0;
}


/* -------HOME------- */

.box-wrapper {
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 50%;
    border-radius: 50%;
    align-content: center;
    opacity: 0.9;
    margin-top: 2rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

p.intro {
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 200;
    margin: 0 0 1rem 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.home-button {
    margin: auto;
    border-radius: 3px;
    border: 1px solid #d4761e5d;
    padding: 0.8rem 1.6rem;
    margin: 2rem 0;
    color: #522614;
    text-decoration: none;
    justify-items: center;
}

.home-button:hover {
    background-color:#ff7b00d2;
    transform: scale(1.05);
    
}


/* ---------ABOUT---------- */



/* ---------PROJECTS--------- */
.main-wrapper.projects {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.box-wrapper.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.project-box {
    display: flex;
    border: 1px solid #bd95715d;
    margin: 1rem;
    width: 80%;
    height: 5rem;
    text-align: center;
    justify-content: center;
}

h4 {
    display: flex;
    padding: 0%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* ---------CONTACT-------- */

.main-wrapper.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.form-container {
    border: 1px solid #bd95715d;
    border-radius: 5px;
    padding: 1rem 0.8rem;
    margin: 0 0.75rem 0.75rem 0.75rem;
}

p.contact {
    text-align: center;
    width: auto;
    margin: 1rem 0;
}

form {
    width: 100%;
    margin: 1rem 0;
    padding-top: 0.5rem;
}

.form-item {
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.8rem;
}

label {
    display: inline-block;
    width: 4.5rem;
}

input {
    flex-grow: 1;
}

textarea {
    flex-grow: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

button {
    font-size: 1rem;
    color: #522614de;
    border-radius: 3px;
    padding: 0.4rem 0.8rem;
    background-color: #faf6f5b6;
    border: 1px solid #d4761e5d;
}

button:hover {
    background-color: #f08b2c;
    color: #522614;
}


@media (min-width: 700px) {
    header {
        background-color: #3a1908c5;
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    .header-first-row {
        display: flex;
        width: 80%;
        justify-content: flex-start;
    }

    .logo-box {
        display: flex;
        max-width: 30%;
        margin: 0.5rem 0 0.2rem 0.5rem;
    }

    .social-box {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    
    svg {
        fill:#f0e7e5;
        /* fill: #ebd3bdf5; */
        padding: 0.3rem;
        height: 20px; 
        width: 20px;
    }

    nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
    }

    nav a {
        color: #e7d2be;
        text-decoration: none;
        margin: 0.4rem 0;
        font-size: 1.1rem;
    }
    
    /* HOME */
    .main-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5rem 2rem;
    }
    .box-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    } 

    .profile-pic {
        border-radius: 50%;
        margin-top: 0rem;
        width: 85%;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding-left: 3rem;
    }

    h1.home {
        text-align: left;
        font-size: 3rem;
        width: 100%;
        margin: 0.75em 0;
    }

    p.intro {
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 200;
        margin: 0 0 1rem 0;
        justify-content: center;
        text-align: left ;
    }

    /* CONTACT  */
    .form-container {
        border: 1px solid #bd95715d;
        border-radius: 5px;
        padding: 1rem 0.8rem;
        margin: 0 0.75rem 0.75rem 0.75rem;
        width: 50%;
    }



}


@media (min-width: 1100px) {
  
    header {
        background-color: #3a1908c5;
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    .header-first-row {
        display: flex;
        width: 80%;
        justify-content: flex-start;
    }

    .logo-box {
        display: flex;
        max-width: 28%;
        margin: 0.5rem 0.5rem 0.5rem 1.5rem;
    }

    .social-box {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    svg {
        fill:#f0e7e5;
        padding: 0.3rem;
        height: 22px; 
        width: 22px;
    }

    nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
    }

    nav a {
        color: #e7d2be;
        text-decoration: none;
        margin: 0.4rem 0;
        font-size: 1.3rem;
    }

    .main-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5rem 3rem;
    }
    .box-wrapper {
        display: flex;
        /* width: 100%; */
        justify-content: center;
    } 

    .profile-pic {
        border-radius: 50%;
        align-content: center;
        margin-top: 0rem;
    }

    
    .profile-pic {
        border-radius: 50%;
        margin-top: 0rem;
        width: 60%;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }

    h1.home {
        text-align: left;
        font-size: 3rem;
        width: 100%;
        margin: 0.75em 0;
    }

    p.intro {
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 200;
        margin: 0 0 1rem 0;
        justify-content: center;
        text-align: left ;
    }

    /* CONTACT  */
    .form-container {
        border: 1px solid #bd95715d;
        border-radius: 5px;
        padding: 1rem 0.8rem;
        margin: 0.75rem;
        width: 30rem;
    }
   

}
    





